/*
 * @file All styles for game page
 */

/* LOAD FONTS FROM ASSETS */
@font-face {
  font-family: "Maiden Orange";
  src: url("../assets/fonts/MaidenOrange-Regular.svg") format("svg"),
    url("../assets/fonts/MaidenOrange-Regular.ttf") format("truetype"),
    url("../assets/fonts/MaidenOrange-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Regular.svg") format("svg"),
    url("../assets/fonts/Oswald-Regular.ttf") format("truetype"),
    url("../assets/fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* UTILITY AND SITE-WIDE STYLES */
* {
  margin: 0;
  padding: 0;
}

.custom-font {
  font-family: "Maiden Orange";
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 820px 1fr;
  grid-template-rows: auto 620px 1fr 1fr;
  grid-template-areas:
    "header header header"
    "mid-left game mid-right"
    "low-left low-center low-right"
    "footer footer footer";
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

/* HEADER */
div.header {
  height: 6rem;
  grid-area: header;
  background-color: #b77533;
  margin-bottom: 1.5rem;
  box-shadow: -1px 3px 7px 2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -1px 3px 7px 2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -1px 3px 7px 2px rgba(0, 0, 0, 0.57);
}

div.header-title {
  height: 100%;
  margin: 0;
  padding: 0;
}

img#title-img {
  height: 3rem;
  width: auto;
  object-position: left top;
  object-fit: contain;
  margin-top: calc(3rem / 2);
  margin-left: 1rem;
}

/* GAME MODAL FOR EVENTS */
.modal-grid {
  display: grid;
}

.modal-container {
  z-index: 999;
  grid-area: game;
  justify-items: center;
  align-content: center;
  background-color: rgba(7, 7, 7, 0.4);
  grid-template-columns: 6rem 1fr 6rem;
  grid-template-rows: 6rem 1fr 6rem;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/click.png"),
    auto;
}

.modal {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 6rem 4rem 2rem;
  font-family: "Maiden Orange";
  color: white;
}

.modal-bg {
  z-index: -1;
  transform: scale(1.2);
  grid-column: 1 /-1;
  grid-row: 1 / -1;
}

.modal > *:not(.modal-bg) {
  width: 62%;
  margin-left: 1rem;
}
.modal > * {
  grid-column: 1 / -1;
}

.event-title {
  grid-row: 1 / 2;
  font-size: 2rem;
}

.event-desc {
  grid-row: 2 / 3;
  font-size: 1.5rem;
}

.event-effect {
  grid-row: 3 / 4;
  font-size: 1.3rem;
}

#close {
  grid-row: 4 / -1;
  width: 7rem;
  height: 2rem;
  background-color: #9d3a3b;
  color: white;
  font-size: 1rem;
  border: solid 2px white;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/pointer.png"),
    auto;
}

#close:active {
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/click.png"),
    auto;
}

/* GAME CONTENT */
div#currency::before {
  padding: 8px;
  content: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_25/v1608411085/sudswerkz/coin.png");
}

div#currency {
  margin: 10px;
  color: #f5f5f5;
  font-size: 1.8em;
  font-family: "Maiden Orange";
  background-color: rgba(15, 15, 15, 0.685);
}

div#bg-wrapper {
  grid-area: game;
  position: relative;
  height: 600px;
  width: 800px;
}

div#bg-wrapper::before {
  content: "";
  position: absolute;
  top: 10;
  left: 10;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684169/sudswerkz/mold.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684168/sudswerkz/wood-pile.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684168/sudswerkz/soap-pile.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684169/sudswerkz/jug.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684168/sudswerkz/drum.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684169/sudswerkz/furnace.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684169/sudswerkz/flue.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684169/sudswerkz/left-pipe.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684168/sudswerkz/top-pipe.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684169/sudswerkz/mid-pipe.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684169/sudswerkz/floor.png"),
    url("https://res.cloudinary.com/el1248e7h/image/upload/v1606684169/sudswerkz/internal-wall.png");
  filter: blur(1.5px);
}

div#game-wrapper {
  position: relative;
  grid-area: game;
  height: 100%;
  width: 100%;
  border: 10px solid #9d3a3b;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem 1fr;
  grid-template-areas:
    "suds-count"
    "resources";
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/click.png"),
    auto;
}

div#game {
  grid-area: resources;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: max-content;
  grid-template-areas: "producer manager";
}

div#production {
  grid-area: producer;
}

.producer {
  margin: 5px 5px 8px 5px;
  width: auto;
  background-color: rgba(15, 15, 15, 0.301);
  color: #f5f5f5;
}

.producer > .title {
  border: 2px solid #fff;
  vertical-align: middle;
  min-width: 100px;
  max-width: 150px;
  height: 1.9rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/pointer.png"),
    auto;
}

.producer > .output {
  vertical-align: middle;
  text-align: center;
  width: 65%;
  padding: 5px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.45rem;
}

.producer > button {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
  height: 30px;
  background-color: #b77533;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border: 0;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/pointer.png"),
    auto;
}

button.title:disabled {
  background-color: #4e4e4e;
  color: #919191;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_30/v1608411131/sudswerkz/nope.png"),
    auto;
}

.producer > button:active {
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/click.png"),
    auto;
}

.disabled {
  background-color: #4e4e4e;
  color: #919191;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_30/v1608411131/sudswerkz/nope.png"),
    auto;
}

button:disabled {
  background-color: #4e4e4e;
  color: #919191;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_30/v1608411131/sudswerkz/nope.png"),
    auto;
}

div#management {
  grid-area: manager;
}

.manager {
  margin: 5px 5px 12px 5px;
  width: auto;
  content: "\F09BC";
  background-color: lightblue;
  color: black;
}

.manager > button {
  width: 100%;
  height: 4.8rem;
  background-color: #9d3a3b;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border: solid 3px white;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/pointer.png"),
    auto;
}

.manager > button:active {
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/click.png"),
    auto;
}

.manager > button:disabled {
  background-color: #4e4e4e;
  color: #919191;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_30/v1608411131/sudswerkz/nope.png"),
    auto;
}

/* GAME ENDS */

/* SITE ADVERTS */
div.left-col {
  grid-area: mid-left;
  display: grid;
  grid-template-columns: minmax(150px, 360px);
  grid-template-rows: repeat(4, minmax(60px, 1fr));
  gap: 1.5rem 0;
  margin: 1rem;
  justify-content: center;
}

div.right-col {
  grid-area: mid-right;
  display: grid;
  grid-template-columns: minmax(150px, 360px);
  grid-template-rows: repeat(4, minmax(60px, 1fr));
  gap: 1.5rem 0;
  margin: 1rem;
  justify-content: center;
}

.ad {
  /* content: url(""); */
}

.vacant {
  display: grid;
  border: 2px black dashed;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.vacant::after {
  content: "YOUR AD HERE";
}
/* ADVERTS END */

/* BOTTOM BAR INFO - PATREON AND DESCRIPTION */
div.bottom {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  grid-area: low-center;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

div.patreon > a > img {
  grid-column: 1 / 2;
  width: 250px;
  object-fit: contain;
}

p.subscript {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

div.description {
  grid-column: 2 / -1;
  font-size: 0.95rem;
}

/* MENU CONTAINER */
.canvas-wrapper {
  position: relative;
  grid-area: game;
}

canvas {
  position: absolute;
  background-image: url("../assets/images/menu-splash.gif");
  height: 600px;
  width: 800px;
  top: 10;
  left: 10;
  z-index: 999;
  cursor: url("https://res.cloudinary.com/el1248e7h/image/upload/c_scale,w_40/v1608411131/sudswerkz/pointer.png"),
    auto;
}

.fade-out {
  animation: fade-out 1s ease 1;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-to-black {
  background: black;
}
/* MENU CONTAINER END */

/* FOOTER */
div.footer {
  grid-area: footer;
  background-color: b77533;
  margin-top: 1rem;
  box-shadow: -1px -3px 7px 2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -1px -3px 7px 2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -1px -3px 7px 2px rgba(0, 0, 0, 0.57);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.footer a {
  text-decoration: none;
}

div.social {
  grid-column: 1 / 2;
  padding: 10px;
  text-align: left;
}

div.social > i {
  color: white;
}

div.press {
  grid-column: 2 / -1;
  padding: 10px;
  text-align: right;
}

/* MEDIA QUERIES FOR SMALLER SCREENS */
@media screen and (min-height: 900px) {
  body {
    overflow-y: hidden;
  }
}
